.worthgoing {
	font-weight: 500;
	font-size: 2em;
}

.bignumber {
	text-align: center;
	margin-top: -20px;
	font-size: 8em;
}

.tiny {
	font-size: 0.2em;
}

.comment {
	font-size: 1.3em;
	padding: 4px;
	color: #222;
	margin-top: 5px;
}

.gray {
	color: #888;
}

.commentarea {
	background: #D1E8D8;
	padding: 10px;
}

.respace {
	margin-right: -50px;
}

#worthbutton {
	color: #fff;
	font-size: 1.7em;
	background:  #E3CB2D;
	border: 0px;
	border-radius: 0px;
	height: 70px;
	width: 130px;
	text-shadow: none;
}

#notworthbutton {
	color: #fff;
	font-size: 1.7em;
	background:  #AD3131;
	border: 0px;
	border-radius: 0px;
	height: 70px;
	width: 130px;
	text-shadow: none;
}