.fatbutton {
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
       -o-user-select: none;
          user-select: none;
	border-radius: 1px;
	padding-top: 10px;
	text-align: center;
	margin-top: 20px;

	height: 80px;
	width: 130px;
	background: #1DC5DB;
	color: #fff;
	font-size: 3em;
	border-bottom: 3px solid #B3EBF2;

	&:hover {
		border-bottom: 3px solid #4FBBC9;
		background: #3A909C;
	}
	&:active {
		box-shadow: inset 0px 1px 4px #333;
	}
}

.fatbutton.other {
	background: #F29155;
	color: #fff;
	border-bottom: 3px solid #F2C5AA;

	&:hover {
		border-bottom: 3px solid #D19671;
		background: #B3744D;
	}
	&:active {
		box-shadow: inset 0px 1px 4px #333;
	}
}

.schoollink {
	margin: 3px 1px;
	border-radius: 0px;
	padding: 8px 10px;
	background: #39546B;
	color: #fff;
	&:hover {
		color: #fff;
		background: #1F394F;
		text-decoration: none;
	}
	&:active {
		box-shadow: inset 0px 1px 4px #333;
	}
}
.schoollink.lighter {
	background: #5C7E9C;
	&:hover {
		color: #fff;
		background: #3F698C;
		text-decoration: none;
	}
	&:active {
		box-shadow: inset 0px 1px 4px #333;
	}
}

.homelink {
	top: -9px;
	position: absolute;
	border-radius: 2px;
	padding: 9px 5px 5px 5px;
	background: #fff;
	font-weight: 600;
	font-size: 1em;
	&:hover {
		text-decoration: none;
		color: #333;	
	}
}