<div class="row">
	<div class="large-11 large-centered columns">
		<div class="huge center">Are you in class right now?</div>
		<div class="row">
			<div class="large-8 small-11 large-centered small-centered columns gap">
				<div class="row">
					<div class="large-4 small-4 columns">
						<%= link_to new_school_w_class_path(@school.hiddenname), class: "nohover" do %>
							<div class="fatbutton">Yes</div>
						<% end %>
					</div>
					<div class="large-6 small-6 pull-2 columns">
						<%= link_to "#", class: "nohover" do %>
							<div class="fatbutton other">No, should I go?</div>
						<% end %>
					</div>
				</div>
			</div>
		</div>
		<div class="gap center">
			Never miss an important class (or go to a pointless one)! <br>
			Students already there can tell you if it was worth going.
		</div>
		<hr>
		<% if @classes.empty? %>
			There aren't any classes right now.
		<% else %>
			<ul>
			<% @classes.each do |c| %>
				<li><%= link_to "#{c.name} - #{time_ago_in_words(c.created_at)} ago", school_w_class_path(@school.hiddenname, c) %></li>
			<% end %>
			</ul>
		<% end %>
	</div>
</div>