@import url("http://fonts.googleapis.com/css?family=Oxygen:400,700,300");

body {
	font-family: "Oxygen";
	background: #333;
	color: #fff;
	box-shadow: inset 0px 5px 5px 0px #111;
}

.site {
	border-top: 5px solid #fff;
	padding-top: 30px;
	background: #77B88B;
}

a {
	color: #29595E;
	text-decoration: none;
	&:hover {
		text-decoration: underline;
	}
	&:active {
		color: #448E96;
	}
}

.btn {
	font-weight: 500;
  display: inline-block;
  padding: 4px 11px;
  margin-bottom: 0;
  font-size: 14px;
  font-weight: normal;
  line-height: 1.428571429;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  cursor: pointer;
  border-radius: 2px;
  color: #fff;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
       -o-user-select: none;
          user-select: none;
}

.btn-submit {
	border: 1px solid #888;
	&:hover {
		color: #333;
		background: #FFF;
	}
	&:active {
		color: #333;
		background: #D4FAD6;
	}
}

.huge {
	font-size: 3em;
}

.gap {
	margin-top: 50px;
}

.center {
	text-align: center;
	margin-left: auto;
	margin-right: auto;
}

.nohover {
	&:hover {
		text-decoration: none;
	}
}

.hiding {
	visibility:hidden;
}

.bigger {
	font-size: 2.5em;
}

.white {
	color: #fff;
}

.submit {
	filter: none;
	text-shadow: none;
	margin: 3px 1px;
	border-radius: 0px;
	border: 0px;
	padding: 8px 10px;
	background: #39546B;
	color: #fff;
	&:hover {
		color: #fff;
		background: #1F394F;
		text-decoration: none;
	}
	&:active {
		box-shadow: inset 0px 1px 4px #333;
	}
}

.label {
	transition: 0.1s;
	color: #29595E;
	padding: 8px;
	background: #fff;
	margin: 4px;
	&:hover {
		color: #fff;
		background: #1F394F;
	}
}

.popout {
	color: #111;
	background: #fff;
	padding: 10px;
	box-shadow: 0px 2px 4px #333;
}

.subtlepopout {
	margin: 18px;
	color: #fff;
	background: #6B8F76;
	padding: 10px;
	box-shadow: 0px 1px 4px #444;	
}

.subtlepopout.darker {
	background: #4F7059;
}