<div class="row">
	<div class="large-8 small-8 large-centered small-centered columns">
		<div>
			<%= render 'reports/form' %>
		</div>
	</div>
</div>
<div class="row">
	<div class="large-12 small-12 columns">
		<div class="gap" id="reportshere">
			<%= render 'reports/reports', reports: @reports %>
		</div>
	</div>
</div>
<div class="gap"></div>
<%= link_to "Back to courses", school_path(@school.hiddenname) %>
<br>
<div class="center">
	<%= image_tag 'textbook.png', width: 70 %>
</div>	