<div class="footer gap center">
  <div class="row">
    <div class="large-11 large-centered columns">
      <br>
      <a href="" id="backtotop">Back to Top</a>
      <br>
      <br>
    </div>
  </div>
</footer>

<script>
  $("#backtotop").click(function() {
    $("html, body").animate({ scrollTop: 0 }, "slow");
    return false;
  });
</script>
 